<div class="container mt-5">
  <h2 class="mb-4">Registration Form</h2>
  <form [formGroup]="RegisterForm" (submit)="onSubmit()">


      <div class="form-row">

          <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" required minlength="3">
              @if (getFirstName.touched) {
                <span *ngIf="getFirstName.hasError('required')" class="form-text text-danger "> this field is required</span>
                <span *ngIf="getFirstName.hasError('minlength')" class="form-text text-danger "> the Min length is 3 letters</span>
              }
          </div>

          <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" required minlength="3">
              @if (getLastName.touched) {
                <span *ngIf="getLastName.hasError('required')" class="form-text text-danger "> this field is required</span>
                <span *ngIf="getLastName.hasError('minlength')" class="form-text text-danger "> the Min length is 3 letters</span>
              }
          </div>

      </div>



      <div class="form-group">
          <label for="profileImage">Profile Image</label>
          <input type="file" class="form-control-file" id="profileImage" name="profileImage" required  (change)="onSelectFile($event)">
      </div>

      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" formControlName="email" required maxlength="50">
          @if (getEmail.touched) {
            <span *ngIf="getEmail.hasError('required')" class="form-text text-danger "> this field is required</span>
            <span *ngIf="getEmail.hasError('email')" class="form-text text-danger "> the field should be valid email</span>
          }
      </div>



      <div class="form-row">

          <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" formControlName="password" required minlength="5">
              @if (getPassword.touched) {
                <span *ngIf="getPassword.hasError('required')" class="form-text text-danger "> this field is required</span>
                <span *ngIf="getPassword.hasError('minlength')" class="form-text text-danger "> the Min length is 5 letters</span>
              }
          </div>

          <div class="form-group col-md-6">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required minlength="5">
              @if (getConfirmPassword.touched) {
                <span *ngIf="getConfirmPassword.hasError('required')" class="form-text text-danger "> this field is required</span>
                <span *ngIf="getConfirmPassword.hasError('minlength')" class="form-text text-danger "> the Min length is 5 letters</span>
              }
          </div>
      </div>



      <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" pattern="01[0125][0-9]{8}">
          @if (getPhoneNumber.touched) {
            <span *ngIf="getPhoneNumber.hasError('required')" class="form-text text-danger "> this field is required</span>
            <span *ngIf="getPhoneNumber.hasError('pattern')" class="form-text text-danger "> you should input valid phone number</span>
          }
      </div>

      <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name="gender" formControlName="gender" required>
              <option value="">Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select>
          @if (getGender.touched) {
            <span *ngIf="getGender.hasError('required')" class="form-text text-danger "> this field is required</span>
          }
      </div>

      <div class="form-group">
          <label for="address">Address</label>
          <textarea class="form-control" id="address" name="address" formControlName="address"></textarea>
          @if (getAddress.touched) {
            <span *ngIf="getAddress.hasError('required')" class="form-text text-danger "> this field is required</span>
            <span *ngIf="getAddress.hasError('minlength')" class="form-text text-danger "> the Min length is 3 letters</span>
          }
      </div>



      <input type="submit" value="Submit"  class="btn btn-primary"/>

  </form>
</div>






