<form class="w-75 m-auto" [formGroup]="LoginForm" (Submit)="onSubmit()">

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" formControlName="email" required maxlength="50">
    @if (getEmail.touched) {
      <span *ngIf="getEmail.hasError('required')" class="form-text text-danger "> this field is required</span>
      <span *ngIf="getEmail.hasError('email')" class="form-text text-danger "> the field should be valid email</span>
    }
</div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" formControlName="password" required minlength="5">
    @if (getPassword.touched) {
      <span *ngIf="getPassword.hasError('required')" class="form-text text-danger "> this field is required</span>
      <span *ngIf="getPassword.hasError('minlength')" class="form-text text-danger "> the Min length is 5 letters</span>
    }
  </div>
  <button type="submit" [disabled]="!LoginForm.valid" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</form>
