<div class="container-fluid">
  <div class="row">
    <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">


      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">All products</h1>
      </div>

      <!-- form -->
      <div class="container">

        <form class="w-50 mx-auto my-5" [formGroup]="AddProductForm" (submit)="onSubmit()">


                <div class="form-group">
                  <label for="ProductName">Product Name</label>
                  <input type="text" class="form-control" id="ProductName" formControlName="product_title" required
                    maxlength="50">
                  @if (getProductName.touched) {
                  <span *ngIf="getProductName.hasError('required')" class="form-text text-danger "> this field is
                    required</span>
                  <span *ngIf="getProductName.hasError('minlength')" class="form-text text-danger "> you should enter at least
                    3 letters</span>
                  }
                </div>

                <div class="form-group">
                  <label for="product_description">Product Description</label>
                  <textarea class="form-control" id="product_description" formControlName="product_description" required></textarea>
                  @if (getproduct_description.touched) {
                    <span *ngIf="getproduct_description.hasError('required')" class="form-text text-danger "> this field is required</span>
                    <span *ngIf="getproduct_description.hasError('minlength')" class="form-text text-danger "> you should enter at least 3 letters</span>
                  }
                </div>

                <div class="form-group">
                  <label for="product_price">Product Price</label>
                  <input type="number" class="form-control" id="product_price"  formControlName="product_price" required>
                  @if (getproduct_price.touched) {
                    <span *ngIf="getproduct_price.hasError('required')" class="form-text text-danger "> this field is required</span>
                  }
                </div>

                <div class="form-group">
                  <label for="product_stock">Product Stock</label>
                  <input type="number" class="form-control" id="product_stock"  formControlName="product_stock" required>
                  @if (getproduct_stock.touched) {
                    <span *ngIf="getproduct_stock.hasError('required')" class="form-text text-danger "> this field is required</span>
                  }
                </div>

                <div class="form-group">
                  <label for="ProductImage">Product Image</label>
                  <input type="file" class="form-control-file" id="ProductImage" name="ProductImage" required  (change)="onSelectFile($event)">
                </div>

                <div class="form-group">
                  <label for="product_categoryId">Product Category</label>
                  <select class="form-control" id="product_categoryId"  formControlName="product_categoryId" required>
                    @for(category of categories; track category.id){
                      <option value="{{category.id}}">{{category.title}}</option>
                    }

                  </select>
                  @if (getproduct_categoryId.touched) {
                    <span *ngIf="getproduct_categoryId.hasError('required')" class="form-text text-danger "> this field is required</span>
                  }
                </div>


    <button type="submit" [disabled]="!AddProductForm.valid" class="btn btn-primary">Save</button>
  </form>

</div>
<!-- form -->





  <h4>edit shop products</h4>
<div class="table-responsive">
<table class="table table-striped table-sm">
<thead>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>price</th>
    <th>stock</th>
    <th>Category name</th>
    <th>edit</th>
    <th>delete</th>
  </tr>
</thead>
<tbody>
  @for(prodcut of products; track prodcut.id){
    <tr>
      <td #idRef >{{prodcut.id}}</td>
      <td >{{prodcut.title}}</td>
      <td >{{prodcut.price}}</td>
      <td >{{prodcut.stock}}</td>
      <td >{{prodcut.category_name}}</td>
      <td (click)="editProduct(idRef)"><i class="bi bi-pencil-square text-warning"></i></td>
      <td (click)="deleteProduct(idRef)"><i class="bi bi-trash3-fill text-danger"></i></td>
    </tr>
    }

</tbody>
</table>
</div>

</div>
</div>
</div>
